# =========================
# FRONTEND
# =========================

frontend/node_modules
frontend/.expo
frontend/dist

# =========================
# BACKEND
# =========================

backend/venv
backend/__pycache__
backend/*.db

# =========================
# ENV
# =========================

.env
backend/.env
frontend/.env

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# VSCODE
# =========================

.vscode

# =========================
# PYTHON
# =========================

*.pyc

# =========================
# LOGS
# =========================

*.log